* {
    margin: none;
    padding: none;
  }
  

  body {
    background-color: #2a282d;
  }

  header {
    display: flex;
    flex-direction: row;
    width: 20%;
    height: auto;
    justify-content: center;
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
/* Positioning for the header */


.menu-icon {
  height: 90px;
  width: 90px;
}
/* Sizing for the nav buttons*/

.nav-text {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  font-family: "Asap", serif;
  font-optical-sizing: auto;
  font-style: bold;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Text styling for nav*/

.a {
  background:none;
  border:none;
}
/* Nav button styling*/

.profile-card {
  display: flex;
  align-items: top;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 20%;
  justify-self: left;
  position: absolute;
  top: 35%;
  left: 15%;
  transform: translate(-50%, -50%);
}
/* Profile card positioning*/

.profile-image {
  flex: 0 0 100px;
  margin-right: 20px;
}
/* Profile card positioning*/

.profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/* Profile card styling*/

.profile-info h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: "Asap", serif;
  font-optical-sizing: auto;
  font-style: bold;
  align-items: center;
}
/* Profile card text*/

.profile-info p {
  margin: 0;
  font-family: "Asap", serif;
  font-optical-sizing: auto;
  font-style: bold;
  font-size: 30px;
}
/* Profile card paragraph text*/

.main-icon {
  height: 400px;
  width: 450px;
}
/* sizing main page decoration*/

.image-container {
  display: flex;
  flex-direction: row;
  width: 20%;
  height: auto;
  justify-content: center;
  position: absolute;
  top: 48%;
  left: 65%;
  transform: translate(-50%, -50%);
}
/* Container for images*/

.stats-container {
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 40%;
  position: absolute;
  top: 80%;
  left: 62%;
  transform: translate(-50%, -50%);
}
/* Positioning for stats*/

.stat {
  text-align: center;
}
/* Stat text alignment*/

.stat h3 {
  font-family: "Asap", serif;
  font-optical-sizing: auto;
  font-style: bold;
  font-size: 50px;
  margin-bottom: 5px;
}
/* stat text styling option*/

.stat p {
  font-family: "Asap", serif;
  font-optical-sizing: auto;
  font-style: bold;
  font-size: 30px;
  margin: 0;
}
/* stat text styling option*/

.student-info {
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 20%;
  position: absolute;
  top: 72%;
  left: 15%;
  transform: translate(-50%, -50%);
}
/* positioning for student info*/
.student-info p {
  font-family: "Asap", serif;
  font-optical-sizing: auto;
  font-style: bold;
  font-size: 30px;
  line-height: 1.5;
  margin: 0;
}
/* text styling for student info*/

.header-text {
  color: #fff;
  width: 20%;
  position: absolute;
    top: 33%;
    left: 50.5%;
    transform: translate(-50%, -50%);
}
/* header text positioning*/

.header-text h1 {
  font-family: "Asap", serif;
  font-optical-sizing: auto;
  font-style: bolder;
  font-size: 70px;
  line-height: 1.5;
  margin: 0;
}
/* header text styling*/

.paragraph-text {
  color: #fff;
  width: 30%;
  position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* p text positioning*/

.paragraph-text p {
  font-family: "Asap", serif;
  font-optical-sizing: auto;
  font-style: bolder;
  font-size: 32px;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}
/* p text styling*/

.project-text {
  color: #fff;
  width: 20%;
  position: absolute;
    top: 33%;
    left: 52%;
    transform: translate(-50%, -50%);
}
/* project text positioning*/

.project-text h1 {
  font-family: "Asap", serif;
  font-optical-sizing: auto;
  font-style: bolder;
  font-size: 70px;
  line-height: 1.5;
  margin: 0;
}
/* project text styling*/

.contact-form {
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* contact form positioning*/

.contact-form input,
.contact-form textarea {
  background-color: #333;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
}
/* area for text inside of the contact form*/

.contact-form textarea {
  resize: none;
  height: 130px;
  width: 500px;
}
/* sizing text area*/

.contact-form Button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
/* button positioning*/

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
/* container for projects*/

.card {
  text-align: center;
  font-family: "Asap", serif;
  font-optical-sizing: auto;
  font-style: bolder;
  color: #fff;
}
/* card for project*/

.card img {
  max-width: 100%;
  height: auto;
}
/* Project image*/

.card h3 {
  margin-top: 10px;
}
/* Project text*/

.ROCNijmegen-text {
  color: #fff;
  width: 30%;
  position: absolute;
    top: 120%;
    left: 15.5%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* first project text positioning*/

.ROCNijmegen-text p {
  font-family: "Asap", serif;
  font-optical-sizing: auto;
  font-style: bolder;
  font-size: 32px;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}
/* first project text styling*/

.mastermind-text {
  color: #fff;
  width: 30%;
  position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* second project text positioning*/

.mastermind-text p {
  font-family: "Asap", serif;
  font-optical-sizing: auto;
  font-style: bolder;
  font-size: 32px;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}
/* second project text styling*/

.pinkgoose-text {
  color: #fff;
  width: 30%;
  position: absolute;
    top: 120%;
    left: 83.5%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* third project text positioning*/

.pinkgoose-text p {
  font-family: "Asap", serif;
  font-optical-sizing: auto;
  font-style: bolder;
  font-size: 32px;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}
/* third project text styling*/

.contactinfo-text {
  color: #fff;
  width: 30%;
  position: absolute;
    top: 70%;
    left: 85%;
    transform: translate(-50%, -50%);
    text-align: left;
}
/* contact info page text positioning*/

.contactinfo-text p {
  font-family: "Asap", serif;
  font-optical-sizing: auto;
  font-style: bolder;
  font-size: 32px;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
/* contact info page text styling*/

ul {
  display: flex;
  flex-direction: row;
  list-style: 0;
  margin: 0;
  padding: 0;
}
/* list styling*/

li {
  list-style: none;
  list-style-type: none;
}
/* list styling*/